<%= form_for :song,  url: songs_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
    <p>
    <%= f.label :duration %><br>
    <%= f.text_field :duration %> mins
  </p>
  <p>
  <%= f.collection_select :genre_id, Genre.all, :id, :name, multiple: true, :prompt => "Please Select a Genre" %>
  </p>
   <p>
      <%= f.label :song, "Upload File" %>
      <%= f.file_field :song %>
    </p>
  <p>
    <%= f.submit "Upload"%>
  </p>
<% end %>