
<h2>The details of the song you just uploaded is</h2>
<h2>show.html</h2>
<p>
<strong>Title:</strong>
<%= @song.title %>
</p>

<p>
<strong>Description:</strong>
<%= @song.description %>
</p>

<p>
<strong>Size:</strong>
<%= @song.song_file_size %> bytes
</p>

<p>
<strong>Duration:</strong>
<%= @song.duration %> min
</p>

<p>
<strong>File Name:</strong>
<%= @song.song_file_name %>
</p>